In [4]:
import pandas as pd

In [2]:
filepath = "/home/francisco/GitHub/DQN-Event-Summarization/data/cnn_tokenized/cnn_trainingstreams_tokenized.csv"

In [ ]:
findf.to_csv("/home/francisco/GitHub/DQN-Event-Summarization/data/cnn_tokenized/cnn_trainingstreams_tokenized.csv", index=False)

In [5]:
findf = pd.read_csv(filepath)

In [45]:
cols = ['sentence_idx', 'query_id', 'qtokens', 'stokens', 'tstokens']
qdfm = findf[['query_id', 'qtokens', 'tstokens']].groupby(['query_id', 'qtokens', 'tstokens']).size().reset_index().rename(columns={0:'n_sentences'})

In [46]:
qdfm.drop('n_sentences', inplace=True, axis=1)

In [11]:
min_idx, max_idx = findf['sentence_idx'].min(), findf['sentence_idx'].max()

In [68]:
qdfout.head()

,query_id,qtokens,tstokens,stokens_0,stokens_1,stokens_2,stokens_3
0,0,20001 102 33 149 105 48,0 1 2 3 4 5 6 7 20001 8 9 10 0 11 12 13 14 0 2...,0 1 2 3 4 5 6 7,20001 8 9 10 0 11 12 13 14 0 20001 15 16 17 18...,0 23 51 14 52 53 54 55 56 23 57 58 59 9 60 61 ...,68 69 70 71 72 0 73 74 75 76 77 15 78 79 80 81...
1,1,20001 102 319 550 551 19316 549 553 566,78 79 549 411 550 44 551 552 549 84 553 20001 ...,78 79 549 411 550 44 551 552 549 84 553 20001 ...,37 561 102 562 3 563 564 565 8 37 20001 23 566...,37 558 102 551 84 570 571 572 23 573 74 337 26...,394 84 570 574 56 105 558 20001 74 575 271 15 ...
2,2,690 691 3 19317 591 20001 37 1510,37 549 788 41 20001 756 8 78 79 572 808 809 81...,37 549 788 41 20001 756 8 78 79 572,37 789 110 37 579 790 791 105 792 153 793 794 ...,808 809 810 811 627 812 32 78 79 572 6 8 253 8...,8 822 68 110 339 823 824 37 825 826 827 110 78...
3,3,690 1289 19318 747 15 886 1170 1171 99 20001 837,78 79 549 280 1168 105 1169 37 78 79 572 538 8...,78 79 549 280 1168 105 1169 37 78 79 572 538 8...,37 1171 538 1179 71 280 284 9 1 1180 99 1172 9...,1185 1187 37 1188 1189 627 248 20001 1190 318 ...,1194 1195 507 9 551 1196 1188 1197 430 8 37 11...
4,4,19319 1398 46 1385 5599 1430 8 14494 20001,78 79 549 139 1380 1381 318 9 1382 1383 8 1384...,78 79 549 139 1380 1381 318 9 1382 1383 8 1384...,9 1390 1391 869 8 1185 1392 1393 609 1394 223 ...,852 8 37 1397 316 1398,37 574 56 869 8 578 3 579 580 1399 15 90 7 140...

In [65]:
for idx in range(min_idx, max_idx + 1):
    findf_ssidx = findf[findf['sentence_idx'] == idx].copy()
    findf_ssidx.drop_duplicates(inplace=True)
    if idx == 0 :
        qdfout = qdf.merge(findf_ssidx[['query_id', 'stokens']], 
            how='left', on=['query_id']
        ) 
    else:
        qdfout = qdfout.merge(findf_ssidx[['query_id', 'stokens']], 
            how='left', on=['query_id']
        ) 
        
    qdfout.columns = qdfout.columns[:(3 + idx) ].tolist() + ['stokens_%i' % idx]
    print(qdfout.head())

qdfout.to_csv(
        os.path.join(outputdir, 'cnn_data_sentence_%02d.csv' % idx), 
    index=False
)

   query_id                                           qtokens  \
0         0                           20001 102 33 149 105 48
1         1           20001 102 319 550 551 19316 549 553 566
2         2                 690 691 3 19317 591 20001 37 1510
3         3  690 1289 19318 747 15 886 1170 1171 99 20001 837
4         4        19319 1398 46 1385 5599 1430 8 14494 20001

                                            tstokens  \
0  0 1 2 3 4 5 6 7 20001 8 9 10 0 11 12 13 14 0 2...
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2  37 549 788 41 20001 756 8 78 79 572 808 809 81...
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_0
0                                    0 1 2 3 4 5 6 7
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2                37 549 788 41 20001 756 8 78 79 572
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...
   query_id                                           qtokens  \
0         0                           20001 102 33 149 105 48
1         1           20001 102 319 550 551 19316 549 553 566
2         2                 690 691 3 19317 591 20001 37 1510
3         3  690 1289 19318 747 15 886 1170 1171 99 20001 837
4         4        19319 1398 46 1385 5599 1430 8 14494 20001

                                            tstokens  \
0  0 1 2 3 4 5 6 7 20001 8 9 10 0 11 12 13 14 0 2...
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2  37 549 788 41 20001 756 8 78 79 572 808 809 81...
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_0  \
0                                    0 1 2 3 4 5 6 7
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2                37 549 788 41 20001 756 8 78 79 572
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_1
0  20001 8 9 10 0 11 12 13 14 0 20001 15 16 17 18...
1  37 561 102 562 3 563 564 565 8 37 20001 23 566...
2  37 789 110 37 579 790 791 105 792 153 793 794 ...
3  37 1171 538 1179 71 280 284 9 1 1180 99 1172 9...
4  9 1390 1391 869 8 1185 1392 1393 609 1394 223 ...
   query_id                                           qtokens  \
0         0                           20001 102 33 149 105 48
1         1           20001 102 319 550 551 19316 549 553 566
2         2                 690 691 3 19317 591 20001 37 1510
3         3  690 1289 19318 747 15 886 1170 1171 99 20001 837
4         4        19319 1398 46 1385 5599 1430 8 14494 20001

                                            tstokens  \
0  0 1 2 3 4 5 6 7 20001 8 9 10 0 11 12 13 14 0 2...
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2  37 549 788 41 20001 756 8 78 79 572 808 809 81...
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_0  \
0                                    0 1 2 3 4 5 6 7
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2                37 549 788 41 20001 756 8 78 79 572
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_1  \
0  20001 8 9 10 0 11 12 13 14 0 20001 15 16 17 18...
1  37 561 102 562 3 563 564 565 8 37 20001 23 566...
2  37 789 110 37 579 790 791 105 792 153 793 794 ...
3  37 1171 538 1179 71 280 284 9 1 1180 99 1172 9...
4  9 1390 1391 869 8 1185 1392 1393 609 1394 223 ...

                                           stokens_2
0  0 23 51 14 52 53 54 55 56 23 57 58 59 9 60 61 ...
1  37 558 102 551 84 570 571 572 23 573 74 337 26...
2  808 809 810 811 627 812 32 78 79 572 6 8 253 8...
3  1185 1187 37 1188 1189 627 248 20001 1190 318 ...
4                             852 8 37 1397 316 1398
   query_id                                           qtokens  \
0         0                           20001 102 33 149 105 48
1         1           20001 102 319 550 551 19316 549 553 566
2         2                 690 691 3 19317 591 20001 37 1510
3         3  690 1289 19318 747 15 886 1170 1171 99 20001 837
4         4        19319 1398 46 1385 5599 1430 8 14494 20001

                                            tstokens  \
0  0 1 2 3 4 5 6 7 20001 8 9 10 0 11 12 13 14 0 2...
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2  37 549 788 41 20001 756 8 78 79 572 808 809 81...
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_0  \
0                                    0 1 2 3 4 5 6 7
1  78 79 549 411 550 44 551 552 549 84 553 20001 ...
2                37 549 788 41 20001 756 8 78 79 572
3  78 79 549 280 1168 105 1169 37 78 79 572 538 8...
4  78 79 549 139 1380 1381 318 9 1382 1383 8 1384...

                                           stokens_1  \
0  20001 8 9 10 0 11 12 13 14 0 20001 15 16 17 18...
1  37 561 102 562 3 563 564 565 8 37 20001 23 566...
2  37 789 110 37 579 790 791 105 792 153 793 794 ...
3  37 1171 538 1179 71 280 284 9 1 1180 99 1172 9...
4  9 1390 1391 869 8 1185 1392 1393 609 1394 223 ...

                                           stokens_2  \
0  0 23 51 14 52 53 54 55 56 23 57 58 59 9 60 61 ...
1  37 558 102 551 84 570 571 572 23 573 74 337 26...
2  808 809 810 811 627 812 32 78 79 572 6 8 253 8...
3  1185 1187 37 1188 1189 627 248 20001 1190 318 ...
4                             852 8 37 1397 316 1398

                                           stokens_3
0  68 69 70 71 72 0 73 74 75 76 77 15 78 79 80 81...
1  394 84 570 574 56 105 558 20001 74 575 271 15 ...
2  8 822 68 110 339 823 824 37 825 826 827 110 78...
3  1194 1195 507 9 551 1196 1188 1197 430 8 37 11...
4  37 574 56 869 8 578 3 579 580 1399 15 90 7 140...