In [3]:
import os
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

## Steps to build pipeline

1. Tokenize the query
2. Tokenize the streams
3. Tokenize the stream

Run LSTM on query

In [18]:
os.chdir('/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/corpus-data/')
os.listdir('./')

['.DS_Store',
 '2012_aurora_shooting.tsv.gz',
 '2012_aurora_shooting_first_sentence.tsv.gz',
 '2012_pakistan_garment_factory_fires.tsv.gz',
 '2012_pakistan_garment_factory_fires_first_sentence.tsv.gz',
 'hurricane_sandy.tsv.gz',
 'hurricane_sandy_first_sentence.tsv.gz',
 'wisconsin_sikh_temple_shooting.tsv.gz',
 'wisconsin_sikh_temple_shooting_first_sentence.tsv.gz']

In [4]:
df1 = pd.read_csv('./2012_aurora_shooting.tsv.gz', sep='\t')
df2 = pd.read_csv('./2012_pakistan_garment_factory_fires.tsv.gz', sep='\t')
df3 = pd.read_csv('./hurricane_sandy.tsv.gz', sep='\t')
df4 = pd.read_csv('./wisconsin_sikh_temple_shooting.tsv.gz', sep='\t')

# Modifying the data

In [5]:
print( df1[df1['sentence'] < 1].shape, 
       df2[df2['sentence'] < 1].shape, 
       df3[df3['sentence'] < 1].shape, 
       df4[df4['sentence'] < 1].shape)

((12509, 7), (17849, 7), (15544, 7), (12562, 7))

In [124]:
df1[df1['sentence'] < 1].to_csv("./2012_aurora_shooting_first_sentence.tsv", index=False, sep='\t') 
df2[df2['sentence'] < 1].to_csv("./2012_pakistan_garment_factory_fires_first_sentence.tsv", index=False, sep='\t') 
df3[df3['sentence'] < 1].to_csv('./hurricane_sandy_first_sentence.tsv', index=False, sep='\t') 
df4[df4['sentence'] < 1].to_csv('./wisconsin_sikh_temple_shooting_first_sentence.tsv', index=False, sep='\t')

In [126]:
! gzip ./2012_aurora_shooting_first_sentence.tsv

In [128]:
! gzip ./2012_pakistan_garment_factory_fires_first_sentence.tsv

In [129]:
! gzip ./hurricane_sandy_first_sentence.tsv

In [131]:
! gzip ./wisconsin_sikh_temple_shooting_first_sentence.tsv

In [6]:
df1.head()

,hour,score,stream id,url,title,sentence,text
0,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,0,Jason Mezey -LRB- right -RRB- and fellow Coura...
1,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,1,"They 're cycling for those they care for , for..."
2,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,2,"For one cyclist , Monument resident Jason Meze..."
3,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,3,"The infant has one full left arm , half of his..."
4,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,4,"`` Dillon is a normally functioning , healthy ..."

In [72]:
df1['title'].nunique()

12509

In [4]:
df1.shape, df2.shape, df3.shape, df4.shape

((202215, 7), (293803, 7), (224604, 7), (208706, 7))

In [73]:
df1.shape[0] + df2.shape[0] + df3.shape[0] + df4.shape[0]

929328

In [5]:
# Title is the title of the article
print df1[df1['stream id']=='1342767285-e9b3e7dc6a9e31c8b2301848ab082117'].title[1]
# Each text is a stream (i.e., a sentence from the article)
print df1[df1['stream id']=='1342767285-e9b3e7dc6a9e31c8b2301848ab082117'].text[1]

Monument man to ride in Courage Classic for son - OutThereColorado.com
They 're cycling for those they care for , for those they know , and for those they nurture .

In [6]:
df1.head()

,hour,score,stream id,url,title,sentence,text
0,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,0,Jason Mezey -LRB- right -RRB- and fellow Coura...
1,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,1,"They 're cycling for those they care for , for..."
2,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,2,"For one cyclist , Monument resident Jason Meze..."
3,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,3,"The infant has one full left arm , half of his..."
4,0,13.591976,1342767285-e9b3e7dc6a9e31c8b2301848ab082117,http://articles.outtherecolorado.com/articles/...,Monument man to ride in Courage Classic for so...,4,"`` Dillon is a normally functioning , healthy ..."

In [7]:
df2.head()

,hour,score,stream id,url,title,sentence,text
0,0,14.635408,1347369130-aa4ff946adb6599b137feb38281c4018,http://menmedia.co.uk/manchestereveningnews/ne...,Trio arrested over fire which destroyed Radcli...,0,Three men have been arrested on suspicion of a...
1,0,14.635408,1347369130-aa4ff946adb6599b137feb38281c4018,http://menmedia.co.uk/manchestereveningnews/ne...,Trio arrested over fire which destroyed Radcli...,1,"The men - aged 26 , 21 and 18 - have been ques..."
2,0,14.635408,1347369130-aa4ff946adb6599b137feb38281c4018,http://menmedia.co.uk/manchestereveningnews/ne...,Trio arrested over fire which destroyed Radcli...,2,Around 100 homes had to be evacuated because o...
3,0,14.635408,1347369130-aa4ff946adb6599b137feb38281c4018,http://menmedia.co.uk/manchestereveningnews/ne...,Trio arrested over fire which destroyed Radcli...,3,No-one was hurt .
4,0,14.635408,1347369130-aa4ff946adb6599b137feb38281c4018,http://menmedia.co.uk/manchestereveningnews/ne...,Trio arrested over fire which destroyed Radcli...,4,Forensic investigators from Greater Manchester...

In [8]:
df3.head()

,hour,score,stream id,url,title,sentence,text
0,0,27.31798,1351093540-7889486104cb75da1b70dbca8cd22296,http://www2.wspa.com/news/2012/oct/24/2/soaked...,Sandy Reaches Hurricane Status | WSPA,0,hurricane Sandy as of 11:00 a.m. Wednesday .
1,0,27.31798,1351093540-7889486104cb75da1b70dbca8cd22296,http://www2.wspa.com/news/2012/oct/24/2/soaked...,Sandy Reaches Hurricane Status | WSPA,1,Sandy is now a category one hurricane .
2,0,27.31798,1351093540-7889486104cb75da1b70dbca8cd22296,http://www2.wspa.com/news/2012/oct/24/2/soaked...,Sandy Reaches Hurricane Status | WSPA,2,The National Hurricane Center reported Hurrica...
3,0,27.31798,1351093540-7889486104cb75da1b70dbca8cd22296,http://www2.wspa.com/news/2012/oct/24/2/soaked...,Sandy Reaches Hurricane Status | WSPA,3,A hurricane warning is in effect for Jamaica a...
4,0,27.31798,1351093540-7889486104cb75da1b70dbca8cd22296,http://www2.wspa.com/news/2012/oct/24/2/soaked...,Sandy Reaches Hurricane Status | WSPA,4,The government of the Bahamas has issued a hur...

In [9]:
df4.head()

,hour,score,stream id,url,title,sentence,text
0,0,21.3082,1344181816-4d5484bdb6193dc2a2b198803644c27c,http://www.thisisleicestershire.co.uk/Solar-po...,Solar power at Sikh temple | This is Leicester...,0,A Sikh temple is harnessing the sun 's rays to...
1,0,21.3082,1344181816-4d5484bdb6193dc2a2b198803644c27c,http://www.thisisleicestershire.co.uk/Solar-po...,Solar power at Sikh temple | This is Leicester...,1,"Leicester 's Guru Tegh Bahadur Gurdwara , in E..."
2,0,21.3082,1344181816-4d5484bdb6193dc2a2b198803644c27c,http://www.thisisleicestershire.co.uk/Solar-po...,Solar power at Sikh temple | This is Leicester...,2,"The # 125,000 environmental project has been f..."
3,0,21.3082,1344181816-4d5484bdb6193dc2a2b198803644c27c,http://www.thisisleicestershire.co.uk/Solar-po...,Solar power at Sikh temple | This is Leicester...,3,"Surinderpal Singh Rai , general secretary of t..."
4,0,21.3082,1344181816-4d5484bdb6193dc2a2b198803644c27c,http://www.thisisleicestershire.co.uk/Solar-po...,Solar power at Sikh temple | This is Leicester...,4,He said : `` It 's a huge four-storey building...

In [98]:
os.listdir('/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/trec-2013-data/')

['.trec2013-ts-topics-test.xml.swp',
 'matches.tsv.gz',
 'nuggets.tsv.gz',
 'trec2013-ts-topics-test.xml',
 'updates.tsv.gz']

In [5]:
os.chdir('/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/trec-2013-data/')

In [110]:
for q in df5['query_id'].unique().tolist():
    print(q, df5[df5['query_id']==q].shape, df5[df5['query_id']==q]['nugget_text'].values[0])

('TS13.1', (56, 6), 'train accident in Buenos Aires, Argentina.')
('TS13.10', (37, 6), 'Tel Aviv bus bombing')
('TS13.2', (89, 6), 'Pakistan garment factory fires 11 September 2012')
('TS13.3', (139, 6), 'At least 12 people were shot in the city of Aurora near Denver,, Colorado.')
('TS13.4', (97, 6), "'Wisconsin Sikh Temple shooting")
('TS13.5', (108, 6), 'Tropical Storm Isaac')
('TS13.6', (418, 6), 'Sandy is the eighteenth named storm of the 2012 Atlantic hurricane season.')
('TS13.7', (91, 6), 'derecho')
('TS13.8', (88, 6), 'Tropical Storm Bopha')
('TS13.9', (45, 6), '2012 Guatemala earthquake')
('TS13.TEST1', (103, 6), '2012 Tabriz earthquake')
('TS13.TEST2', (69, 6), 'Wildfires in Colorado')

In [115]:
df5[df5['query_id']=='TS13.3'].to_csv("./aurora_nuggets.tsv", sep='\t')
df5[df5['query_id']=='TS13.2'].to_csv("./pakistan_nuggets.tsv", sep='\t')
df5[df5['query_id']=='TS13.6'].to_csv("./sandy_nuggets.tsv", sep='\t')
df5[df5['query_id']=='TS13.4'].to_csv("./wisconsin_nuggets.tsv", sep='\t')

In [116]:
! gzip /Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/trec-2013-data/aurora_nuggets.tsv

In [117]:
! gzip /Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/trec-2013-data/pakistan_nuggets.tsv

In [118]:
! gzip /Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/trec-2013-data/sandy_nuggets.tsv

In [119]:
! gzip /Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/trec-2013-data/wisconsin_nuggets.tsv

In [ ]:
print(ox)

In [212]:
df1 = pd.read_csv("./nuggets-data/nuggets_2013.tsv.gz", sep='\t')
df2 = pd.read_csv("./nuggets-data/nuggets_2014.tsv.gz", sep='\t')
df3 = pd.read_csv("./nuggets-data/nuggets_2015.tsv.gz", sep='\t')

In [229]:
nuggfiles = ['./nuggets-data/nuggets_%i.tsv.gz' % x for x in range(2013, 2016)]
# Exporting nuggets
for nuggfile in nuggfiles:
    tmpnuggets = pd.read_csv(nuggfile, sep='\t')
    for q in tmpnuggets['query_id'].unique():
         if "TEST" not in q:
            print("exporting nugget %s" % q)
            tmpnuggets[tmpnuggets['query_id']==q].to_csv(
                "./nuggets-data/%s_nuggets.csv" % q, index=False
                )

exporting nugget TS13.1
exporting nugget TS13.10
exporting nugget TS13.2
exporting nugget TS13.3
exporting nugget TS13.4
exporting nugget TS13.5
exporting nugget TS13.6
exporting nugget TS13.7
exporting nugget TS13.8
exporting nugget TS13.9
exporting nugget TS14.11
exporting nugget TS14.12
exporting nugget TS14.13
exporting nugget TS14.14
exporting nugget TS14.15
exporting nugget TS14.16
exporting nugget TS14.17
exporting nugget TS14.18
exporting nugget TS14.19
exporting nugget TS14.20
exporting nugget TS14.21
exporting nugget TS14.22
exporting nugget TS14.23
exporting nugget TS14.24
exporting nugget TS14.25
exporting nugget TS15.26
exporting nugget TS15.27
exporting nugget TS15.28
exporting nugget TS15.29
exporting nugget TS15.30
exporting nugget TS15.31
exporting nugget TS15.32
exporting nugget TS15.33
exporting nugget TS15.34
exporting nugget TS15.35
exporting nugget TS15.36
exporting nugget TS15.37
exporting nugget TS15.38
exporting nugget TS15.39
exporting nugget TS15.40
exporting nugget TS15.41
exporting nugget TS15.42
exporting nugget TS15.43
exporting nugget TS15.44
exporting nugget TS15.45
exporting nugget TS15.46

In [141]:
os.chdir('/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/')

In [383]:
def read_queries(fname):
    f = open(fname, 'rb')
    out = f.readlines()
    ox = BeautifulSoup(''.join(out),'lxml').contents[1]
    qdata = []
    for i in ox.findAll('event'):
        qdata.append((i.findAll('query')[0].text, 
                  int(i.findAll("id")[0].text),
                  fname.replace("./trec-data/trec20", "TS").replace("-ts-topics-test.xml", ""),
                    i.findAll('title')[0].text))
    return qdata

In [385]:
xml_list = ['./trec-data/trec%i-ts-topics-test.xml' % x for x in range(2013, 2016)]
qtuple = []
for xml_file in xml_list:
    qtuple.append( read_queries(xml_file))


qtuple = list(chain(*qtuple))
infilelist = [ './corpus-data/%s.tsv.gz' % q.replace(" ", "_") for (q, i, y, t)  in qtuple]
infilelist = infilelist + xml_list

In [416]:
qfilenames = ['./trec-data/trec%i-ts-topics-test.xml' % x for x in range(2013, 2016)]
qtuple = list(chain(*[read_queries(xml_file) for xml_file in qfilenames ]))
infilelist = ['./corpus-data/%s.tsv.gz' % q.replace(" ", "_") for (q, i, n, t)  in qtuple]
infilelist = infilelist + qfilenames
nuggetlist = ['%s.%i_nuggets.csv' % (n, i) for (q, i, n, t)  in qtuple]
outfilelist = ['./0-output/%s_tokenized' % x.split("/")[2].split(".")[0] for x in infilelist]

In [417]:
qdf = pd.DataFrame(qtuple, columns=['query', 'query_id', 'trec', 'title'])
qdf['nugget_file'] = qdf['trec'] + "." + qdf['query_id'].astype(str) + "_nuggets.csv"
qdf['stream_file'] = qdf['title'].str.replace(" ", "_").str.lower() + ".csv"
qdf = qdf[['query_id','query','trec','nugget_file','stream_file']]

In [437]:
inputdir = '/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/'
qfilenames = [os.path.join(inputdir, 'trec-data/trec%i-ts-topics-test.xml') % x for x in range(2013, 2014)]
qtuple = list(chain(*[read_queries(xml_file) for xml_file in qfilenames ]))
infilelist = [os.path.join(inputdir, 'corpus-data/%s.tsv.gz' % t.replace(" ", "_").lower()) for (q, i, n, t)  in qtuple if i != 7]
input_files = [os.path.join(inputdir, 'corpus-data/', x) for x in os.listdir(os.path.join(inputdir, 'corpus-data/')) if 'tsv.gz' in x]

In [441]:
input_files = [x for x in infilelist if x in input_files]

In [444]:
input_files

[u'/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/corpus-data/2012_pakistan_garment_factory_fires.tsv.gz',
 u'/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/corpus-data/2012_aurora_shooting.tsv.gz',
 u'/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/corpus-data/wisconsin_sikh_temple_shooting.tsv.gz',
 u'/Users/franciscojavierarceo/GitHub/DeepNLPQLearning/DO_NOT_UPLOAD_THIS_DATA/corpus-data/hurricane_sandy.tsv.gz']

In [ ]:
    # First we have to segment the nuggets
    qfilenames = [os.path.join(inputdir, 'trec-data/trec%i-ts-topics-test.xml') % x for x in range(2013, 2014)]
    qtuple = list(chain(*[read_queries(xml_file) for xml_file in qfilenames ]))
    infilelist = [os.path.join(inputdir, 'corpus-data/%s.tsv.gz' % t.replace(" ", "_").lower()) for (q, i, n, t)  in qtuple if i != 7]
    # Limiting the files
    input_files = [os.path.join(inputdir, 'corpus-data/', x) for x in os.listdir(os.path.join(inputdir, 'corpus-data/')) if 'tsv.gz' in x]
    infilelist = [x for x in infilelist if x in input_files]

    infilelist = infilelist + qfilenames
    nuggetlist = [os.path.join(inputdir, '%s.%i_nuggets.csv' % (n, i)) for (q, i, n, t)  in qtuple]
    outfilelist = [os.path.join(inputdir, '0-output/%s_tokenized' % x.split("/")[3].split(".")[0]) for x in infilelist]

In [398]:
qdf.head()

,query_id,query,trec,nugget_file,stream_file
0,1,buenos aires train crash,TS13,TS13.1_nuggets.csv,2012_buenos_aires_rail_disaster.csv
1,2,pakistan factory fire,TS13,TS13.2_nuggets.csv,2012_pakistan_garment_factory_fires.csv
2,3,colorado shooting,TS13,TS13.3_nuggets.csv,2012_aurora_shooting.csv
3,4,sikh temple shooting,TS13,TS13.4_nuggets.csv,wisconsin_sikh_temple_shooting.csv
4,5,hurricane isaac,TS13,TS13.5_nuggets.csv,hurricane_isaac_(2012).csv

In [ ]:
tdf = pd.read_csv("./0-output/total_corpus_smry.csv")

In [281]:
tdf.head()

   id    token  frequency
0   1      and      10021
1   2    right        965
2   3    jason       1012
3   4  classic      49452
4   5      rrb       1375

In [296]:
q.split(" ")

[u'buenos', u'aires', u'train', u'crash']

In [304]:
' '.join([str(tdf.ix[tdf['token']==token, 'id'].values[0]) for token in q.split(" ")])

'16746 16745 2711 1156'

In [351]:
qtokens = []
for q in qdf["query"]:
    tokens = []
    for token in q.split(" "):
        try:
            tval = str(tdf.ix[tdf['token']==token, 'id'].values[0])
        except:
            tval = str(0)
        tokens.append(tval)
    qtokens.append(' '.join(tokens))

In [352]:
qdf['tokens'] = qtokens

In [361]:
qdf.to_csv("./0-output/dqn_metadata.csv", index=False)

In [353]:
qdf.head()

,query_id,query,trec,nugget_file,stream_file,tokens
0,1,buenos aires train crash,TS13,TS13.1_nuggets.csv,buenos_aires_train_crash.csv,16746 16745 2711 1156
1,2,pakistan factory fire,TS13,TS13.2_nuggets.csv,pakistan_factory_fire.csv,14168 8064 407
2,3,colorado shooting,TS13,TS13.3_nuggets.csv,colorado_shooting.csv,98 1052
3,4,sikh temple shooting,TS13,TS13.4_nuggets.csv,sikh_temple_shooting.csv,79943 2284 1052
4,5,hurricane isaac,TS13,TS13.5_nuggets.csv,hurricane_isaac.csv,3937 25607

## These are the matches of the nuggets

In [178]:
os.listdir("./")

['.ipynb_checkpoints',
 'build_data.py',
 'build_data.pyc',
 'build_first_sentence_data.py',
 'build_sentence_data.py',
 'Exploration of Data.ipynb']

In [7]:
os.listdir('../0-output/')

['.total_corpus_smry.csv.swp',
 '2012_aurora_sentence_numtext.csv',
 '2012_aurora_sentence_numtext2.csv',
 '2012_aurora_shooting_first_sentence_numtext.csv',
 '2012_aurora_shooting_first_sentence_numtext2.csv',
 '2012_aurora_shooting_numtext.csv',
 '2012_pakistan_garment_factory_fires_first_sentence_numtext.csv',
 '2012_pakistan_garment_factory_fires_first_sentence_numtext2.csv',
 '2012_pakistan_garment_factory_fires_numtext.csv',
 '2012_pakistan_sentence_numtext.csv',
 '2012_pakistan_sentence_numtext2.csv',
 'aurora_nuggets_numtext.csv',
 'hurricane_sandy_first_sentence_numtext.csv',
 'hurricane_sandy_numtext.csv',
 'LSTMDQN_Dic_id2token.pkl',
 'LSTMDQN_Dic_token2id.pkl',
 'nuggets_first_sentence_numtext.csv',
 'nuggets_numtext.csv',
 'pakistan_nuggets_numtext.csv',
 'queries_numtext.csv',
 'sandy_nuggets_numtext.csv',
 'total_corpus_smry.csv',
 'trim_data.sh',
 'wisconsin_nuggets_numtext.csv',
 'wisconsin_sikh_temple_shooting_first_sentence_numtext.csv',
 'wisconsin_sikh_temple_shooting_numtext.csv']

In [ ]:
df7.head()

In [14]:
df1 = pd.read_csv("../0-output/2012_aurora_shooting_numtext.csv")
df2 = pd.read_csv("../0-output/2012_pakistan_garment_factory_fires_numtext.csv")

In [15]:
df1.shape, df2.shape

((199386, 1), (291011, 1))

In [27]:
maxl = []
for line in df1['Text']:
    indices = [int(el) for el in line.split(" ")]
    maxl.append(len(indices))

In [30]:
df3 = pd.DataFrame(maxl, columns=['seqlen'])
smry = df3['seqlen'].value_counts().reset_index()
smry.columns = ['seqlen' ,'count']
smry['cumcount'] = smry['count'].cumsum()
smry['percent'] = smry['count'] / smry['count'].sum()
smry['cumpercent'] = smry['percent'].cumsum()

In [58]:
# Looks like the cutoff should be 30
smry[['percent','cumpercent']].head(35).tail(5)

     percent  cumpercent
30  0.007317    0.946355
31  0.006314    0.952670
32  0.004980    0.957650
33  0.004484    0.962134
34  0.003967    0.966101